html{
	padding: 0;
	margin : 0;
	background-color:  #444444;
}

body{
	padding: 0;
	margin : 0;
	background-color:  #444444;
}

.stickyMain {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	height: 70px;
	top:0px;
	z-index: 3;
	background-color: #2d2d2d;
}
.sticky{
	background-size:cover;
	justify-content: center;
	display: flex;
}

.menu {
	display: inline-flex;

}

.navi{
	display: inline-flex;
	list-style: none;
}

.navi a{
	color: black;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
	border-radius: 10px;
	background: lightgrey;
}

#recherche {
	margin-left: 50px;
	right: 10px;
}

.backgroundDefilement1{
	width: 100%;
	height: 600px;
}

.defilement1{
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 250px;
	filter: drop-shadow(5px 5px 10px black);
	left: 10%;
	bottom: 20%;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.containerInfo{
	height: 400px;
	width: 80%;
	background-color: #2d2d2d;
	margin-left: auto;
	margin-right: auto;
}

.bandeauInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.textInfo{
	background-color: #999999;
	float: left;
	width: 60%;
	height: 80%;
	margin-right: 5px;
	text-align: center;
}

.textInfo h1, p{
	margin : 30px 15px 10px 15px;
}

.imgInfo{
	background-color: #999999;
	float: left;
	width: 30%;
	height: 80%;
}

.containerContact {
	display: flex;
	justify-content: center;
}

.contact h1 {
	text-align: center;
	color: #DFD5CB;
}

.contact form {
	max-width:420px; margin:50px auto;
}

.retour {
	color:white;
	font-family: Helvetica;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #CC6666;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
}

.retour:focus { border:2px solid #CC4949; }

textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
}

[type="submit"] {
	font-family: Helvetica;
	width: 100%;
	background:#CC6666;
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:white;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

footer {
	height: 150px;
	background-color: #2d2d2d;
	color: white;
	display: flex;
	bottom: 0;
	width: 100%;
	flex-direction: column;
}

.copiright p {
	text-align: center;
}

.containerReseaux {
	width: 100%;
	height: 100px;
	display: flex;
}

.Reseaux {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Reseaux a img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

.Reseaux a {
	margin: 0 20px 0 20px;
}

.Reseaux a img:hover {filter: drop-shadow(5px 5px 10px black);}







